---
services:
    mosquitto:
        image: eclipse-mosquitto:2
        container_name: mosquitto
        restart: unless-stopped
        ports:
            - 1883:1883
        volumes:
            - mqtt-log:/mosquitto/log
            - mqtt-data:/mosquitto/data
            - ./mosquitto/config:/mosquitto/config:ro

volumes:
    mqtt-log:
    mqtt-data:
